::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}

/* ######### */

body {
	color: #222;
	font-size: 1.1em;
	line-height: 1.75;
	font-weight: 300;
	font-family: 'Open Sans',Helvetica Neue,Helvetica,sans-serif;
}
h1 {
	margin: 0;
	font-weight: 700;
	color: #4b1e22;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 1.5em;
}
h2, h3 {
	font-family: "Cabin", Helvetica Neue, Sans-serif;
	font-weight: 400;
	color: #454545;
}
h2 {
	font-size: 38px;
	line-height: 1.3;
	margin-top: 1.5em;
}
h2:after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	margin: 15px 0 ;
	background: #9d4100;
}
h3 {
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	color: #9d4100;
}
a {
	color: #9d4100;
}
a:visited {
	color: #5f2801;
}
.row {
	margin-left: 15px;
	margin-right: 15px;
}
.row-text {
	margin-left: 25px;
	margin-right: 25px;
}
.header {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row-reverse;
}
.header-logo {
	display: flex;
	flex: auto;
	align-items: center;
}
.diamond-way-logo {
	width: 295px;
}
.header-diamond-way {
	display: none;
}
.diamond-way-logo .st0{fill:url(#SVGID_1_);}
.diamond-way-logo .st1{fill:#C90033;}
.piernikarska-logo {
	width: 300px;
	height: 81px;
}
.piernikarska-logo .st0 {
	fill: #973f00;
}
.piernikarska-logo .fil0 {
	fill: #610D02
}
.hero {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: #000;
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-color: #ffeb4a;
	/* background-color: #fffbe8; */
	background-attachment: fixed;
	background-position: center 30px;
	background-repeat: no-repeat;
}
.hero-text {
	margin: 20vh 30px 0;
}
.hero-text-line span {
	display: inline;
	/* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%,rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); */
	text-shadow: 1px 2px 1px white;
}
.lead-text {
	font-size: 1.3em;
	margin: 2.4em 0;
}
.support {
	border-top: 1px solid #eaebec;
	border-bottom: 1px solid #eaebec;
	background-color: #f7f8fa;
	margin-top: 40px;
}
.support-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0;
	margin: 50px 0 0;
}
.support-item {
	list-style-type: none;
	padding: 30px 30px 40px;
	border-top: 1px solid #eaeaea;
	background: #fff;
}
#map {
	width: 100%; 
	height: 300px;
}
.support-link,
.support-link:visited {
	text-decoration: none;
	text-align: center;
	background: #f4a105;
	color: #fff;
	padding: 5px 15px;
	border-radius: 3px;
}
.support-link:hover {
	background: #f0c318;
}
.cols-2 {
	display: flex;
	flex-direction: column;
}
.sanga-img, 
.vimeo {
	width: 100%;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	align-items: flex-start;
	max-height: 100vh;
	padding-bottom: 25px;
	/* display: none; */
}
.gallery img {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	max-width: 320px;
}
footer {
	padding: 1.5em 0;
	background: #fdb913;
	color: #4b1e22;
	text-align: center;
	font-weight: 400;
}
