@media screen and (max-width: 768px) and (orientation:landscape) { 
	.hero-text {
		margin-top: 5vh;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .header-diamond-way {
    display: block;
  }
  .hero {
    background-position: center top;
  }
  h1 {
    font-size: 46px;
  }
  .hero-text-line {
    display: block;
	}
	.lead-text {
		font-size: 1.5em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.hero h1 {
		font-size: 56px;
	}
	.support-list {
		flex-direction: row;
		margin-left: -30px;
	}
	.support-item {
		margin-left: 30px;
		margin-bottom: 30px;
		flex: 1;
		border-radius: 3px;
		border: 1px solid #eaeaea;
		border-bottom-width: 4px;
	}
	.support-item:nth-child(1) {
		flex: 2 auto;
	}
	.support-row {
		margin-left: 25px;
		margin-right: 25px;
	}
	.cols-2 {
		flex-direction: row;
	}
	.cols-2 > * {
		flex: 1;
	}
	.cols-2 .sanga-img {
		margin: 180px 0 0 50px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .row, .row-text, .support-row {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
	}
	.support {
		padding-bottom: 20px;
	}
	.support-item:nth-child(1) {
		flex: 1;
	}
}

/* CSS specific to iOS devices */
@supports (-webkit-overflow-scrolling: touch) {
	.hero {
		background-attachment: scroll;
	}
}

@media print {
  *,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important; /* Black prints faster:
                                 http://www.sanbeiji.com/archives/953 */
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
      content: "";
  }

  pre {
      white-space: pre-wrap !important;
  }
  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
      display: table-header-group;
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}
